<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="/assets/styles/dashboardstyle.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <input type="checkbox" id="check">
    <!---header-->
    <header>
        <label for="check">
        <i class="fa fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left-area">
            <h3>Student <span>Profile</span></h3>
        </div>
        <div class="right-area">
        <ul class="navbar">
        <li>  <a href="/logout" class="logout_btn">Logout</a></li>
        <li>  <a href="#" class="logout_btn">Edit Tradition</a>
        <ul class="next">
        <li><a href="edit_feature.php" class="logout_btn">Edit Feature</a></li>
        
        </ul>
    </li>
          <li>  <a href="" class="logout_btn">Add Performance</a>
          <ul class="next">
        <li><a href="/file_upload" class="logout_btn">Photography</a></li>
        <li><a href="offeradd.php" class="logout_btn">Add Offer</a></li>
        <li><a href="addchefs.php" class="logout_btn">Chefes Profile</a></li>
        <li><a href="addnews.php" class="logout_btn">LatestNews</a></li>
        </ul>
        </li>
        <li>  <a href="" class="logout_btn">Add Photo</a>
        <ul class="next">
        <li><a href="addslide.php" class="logout_btn">Add Slider</a></li>
        
        <li><a href="gellarypic.php" class="logout_btn">Add Gellary</a></li>
        </ul>
        </li>
         
        </ul>  
        </div>
        
    </header>

    <!---sidebar-->
    
        <div class="sidebar">
            <center>
                

                                   
                <img src="" class="profile-img" alt="">
                <h4><%= data.email %></h4>
                
            </center>
            <a href="/admindashboard"><i class="fa fa-desktop" aria-hidden="true"></i><span>Dashboard</span></a>
            
           
            
        </div>
        
        <div class="content">
            <div class="tableshow1">
                <table border="1">
                    <tr>
                        
                        <td>Title</td>
                        <td>Photo</td>
                        <td>Price</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Aurthor</td>
                        <td>AdminId</td>
                        <td>Action</td>
                    </tr>
            
                    <% for(var i=0; i< data.length; i++ ){ %>
                    <tr>
                        
                        <td><%= data[i].title %></td>
                        <td><img src="/<%= data[i].photo %>" width="60px"></td>
                        <td><%= data[i].price %></td>
                        <td><%= data[i].description %></td>
                        <td><%= data[i].Category %></td>
                        <td><%= data[i].aurthor %></td>
                        <td><%= data[i].adminid %></td>
                        <td>
                            <a href="/showpost/edit/<%=data[i].id%>">Edit</a> | 
                            <a href="/showpost/delete/<%=data[i].id%>">Delete</a>  
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
         </div>
    
</body>
</html>